header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.OhMyfoodHead {
  width: 100%;
  padding: 18px 0 18px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.LogoOhMyFood {
  height: 30px;
}
.fa-arrow-left {
  position: absolute;
  left: 20px;
  font-size: 1.5em;
}
.HomeArrow {
  display: none;
}
.Map {
  width: 100%;
  background-color: rgb(234, 234, 234);
  justify-content: center;
  display: flex;
  align-items: center;
}
.Map i {
  position: relative;
  right: 30px;
}
.Reservation {
  width: 100%;
  padding: 30px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgb(246, 246, 246);
}
.Reservation h2 {
  width: 70%;
  margin: auto;
  font-weight: 900;
  margin-bottom: 10px;
}
.Reservation p {
  width: 80%;
  margin: auto;
  font-weight: 100;
  margin-bottom: 30px;
}
button {
  padding: 15px 20px;
  font-size: 1em;
  margin: auto;
  outline: none;
  border-radius: 2rem;
  color: white;
  border: none;
  z-index: 1;
  background-image: linear-gradient(#ff79da, #9356dc);
  opacity: 1;
  transform: opacity scale(1);
  transition: transform 0.5s;
  cursor: pointer;
  box-shadow: 0px 4px 10px 2px rgba(0, 0, 0, 0.5);
}
button:hover {
  transition: all 0.5s;
  transform: scale(1.1);
  opacity: 0.9;
}
